@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-image: url("./../images/ROAD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
}

#root {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-text {
  color: #3f353c;
  font-family: Caveat;
  font-weight: 400;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  top: 125px;
  left: 0px;
  right: 0px;
  z-index: 2;
  position: absolute;
}

.app {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.app > h2 {
  color: #a30bc2;
  font-family: Caveat;
  font-weight: 400;
  font-size: 2.5rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 0px;
  line-height: 3rem;
}

.app > h3 {
  color: #3f353c;
  font-family: Caveat;
  font-weight: 400;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.app > p {
  color: #3f353c;
  font-family: Caveat;
  font-weight: 400;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 5px;
}

.app > button {
  background-color: transparent;
  font-family: Caveat;
  font-size: 2rem;
  border: 1px solid #DC143C .5;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  margin-top: -20px;
  color: #604a4f;
}

.app > button:hover {
  color: black;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  background-size: contain;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 40%;
  top: 31%;
  z-index: 100;
}

.container .controls .down-button {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  font-family: Caveat;
  text-align: center;
  font-size: 1rem;
  width: 95%;
}

p {
  font-family: Caveat;
}

.side1 {
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.side2 {
  background: linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.side3 {
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.side4 {
  background: linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.side5 {
  background: linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.side6 {
  background: linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.side7 {
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.side8 {
  background: linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.side9 {
  background: linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.side10 {
  background: linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.side11 {
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.side12 {
  background: linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.side13 {
  background: linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.side14 {
  background: linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.slide1 {
  background-image: url("./../images/1.jpg"), linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.slide2 {
  background-image: url("./../images/2.jpg"), linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.slide3 {
  background-image: url("./../images/3.jpg"), linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.slide4 {
  background-image: url("./../images/4.jpg"), linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.slide5 {
  background-image: url("./../images/5.jpg"), linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.slide6 {
  background-image: url("./../images/6.jpg"), linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.slide7 {
  background-image: url("./../images/7.jpg"), linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.slide8 {
  background-image: url("./../images/8.jpg"), linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.slide9 {
  background-image: url("./../images/9.jpg"), linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.slide10 {
  background-image: url("./../images/10.jpg"), linear-gradient(221.87deg, #fa5abf 1%, #d80d0d 128%);
}

.slide11 {
  background-image: url("./../images/11.jpg"), linear-gradient(215.32deg, #f26100 -1%, #f8842a 124%);
}

.slide12 {
  background-image: url("./../images/12.jpg"), linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.slide13 {
  background-image: url("./../images/13.jpg"), linear-gradient(220.16deg, #f3f3f3 -8%, #F39102 138%);
}

.slide14 {
  background-image: url("./../images/14.jpg"), linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
}

.god {
  color: #f057c2;
}

@media (min-width: 700px) and (max-width: 1019px) {
  .app {
    width: 100%;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .app > button:hover {
    color: black;
  }
}

@media (max-width: 699px) {
  .app {
    width: 100%;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .app > button:hover {
    color: black;
  }
}
